{% extends 'base.html.twig' %}

{% block title %}Seance index{% endblock %}

{% block body %}


<div class="content-block">
						<span class="content-title">Seances  <a href="">+ All Seances</a></span>
						<div class="news-block">
                        
{% include 'seance/_filtre.html.twig' with {form : form} only %}
                         {% for seance in seances %}
							<div class="news">
								<div class="news-img">
									<a href=""><img src="../../front/images/news-img-1.jpg" alt=""></a>
								</div>
								<div class="news-text">
									<div class="news-text-p">
										<span class="comments">{{ seance.nbrParticipants }}</span>
										<h2> <b>Seance numéro : </b>{{ seance.id }}</h2>
										<p><b>date de la seance : </b> {{ seance.date  }} , <b>duree : </b>{{ seance.duree }}</p>
                                        <p><b>prix de la seance : </b>{{ seance.prix  }} </p>
									</div>
									<div class="news-info">
									 <a href="{{path('app_skill_seance',{'id':seance.id})}}" class="button">View Skills</a>
									</div>
								</div>
							</div>
							
						  {% endfor %}
							
						</div><!-- news-block -->
					</div><!-- news-block -->


{% endblock %}
